body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
    border: 0;
}


.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

menu ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-align: center;
}

menu li {
    display: inline;
    padding: 10px 20px;
}

menu li:hover {
    transition: 0.5s;
    background-color: rgb(0, 84, 145);
}
menu li:hover a{
    color: white;
}

menu a {
    font-weight: bold;
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin: 10px;
}


footer{
    padding-top: 3px;
    vertical-align:  middle;
    background-color:rgb(0, 84, 145) ;
    text-align: center;
    height: 80px;
    margin-top: 24px;
}

.footer {
    width: 95%;
    margin-left:  auto;
    margin-right:auto;
}

footer p{
    padding-top: 5px;
    border-top: 2px solid #000;     
}